.sigma-container {
  background-color: hsl(var(--background));
}

.sigma-node {
  fill: hsl(var(--foreground));
}

.sigma-edge {
  stroke: hsl(var(--muted-foreground));
}

.graph-overlay {
  @apply text-foreground border-border bg-background/70;
}